{
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
