    <script src="https://www.americanexpress.com/adobedtm-acq"></script>
    <script>
        var digitalData = {
            version: "2.4",
            page: {
                pageInfo: {
                    country: "US",
                    language: "en",
                    pageName: "core"
                },
                category: {
                    businessUnit: "Acq",
                    primaryCategory: "core",
                    subCategory1: ""
                }
            }
        };
    </script>
<script src="https://apply.americanexpress.com/en-us/business/credit-cards/campaign/custom-vac.js"></script>