@use './styles/mixins/a11y';
@use './styles/mixins/spacing';
@use './styles/blocks/header';
@use './styles/blocks/b00-category-nav';
@use './styles/blocks/b01-hero';
@use './styles/blocks/b03-card-membership';
@use './styles/blocks/b04-card-sticky-nav';
@use './styles/blocks/card-comparison';
@use './styles/blocks/terms-and-conditions';
@use './styles/blocks/_vcp';
@use './styles/blocks/_cc';
.visually-hidden {
  @include a11y.visually-hidden();
}

.flex-align-self-center {
  align-self: center;
}

.border-radius-1 {
  border-radius: 0.5em;
}

.max-vw-width {
  max-width: 100vw;
}

@include spacing.create-spacing-util(5);
@include spacing.create-spacing-util(6);
@include spacing.create-spacing-util(7);
